@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
}

body {
    margin: auto;
    font-family: "Smythe", system-ui;
} 

.image-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-burger{
    background-image: url('images-icons/bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 167px;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: .25rem;
}

.heading-p{
    margin: auto;
    font-size: 1.25rem;
}

.heading-wrap{
    color: white;
    padding-left: 3rem;
}

.menu-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
    padding: 1.5rem;
    margin: 0 2rem 0 2rem;
}

.checkout{
    padding: 2rem;
}

.checkout-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem 1rem;
}

.border{
    border-bottom: 2px solid black;
}

.menu-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4rem;
}

.menu-emoji{
    font-size: 5rem;
    margin-right: 2rem;
}

.item-name{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.item-price{
    font-size: 1.5rem;
    font-weight: 400;
}

.item-ing{
    color: #8B8B8B;
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: .5rem;
}

.remove-item{
    border: none;
    font-size: 1rem;
    font-weight: 100;
    color: #888888;
}

.remove-item:hover{
    color: red;
    background-color: transparent;
}

button{
    border: solid 1.5px #DEDEDE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    color: #3C3C3C;
    font-weight: 200;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    transition: all 3ms;
}

button:hover{
    background-color: #3C3C3C;
    color: white;
    border: none;
}

.close{
    display: flex;
    flex-direction: row-reverse;
}

.close-btn{
    background: transparent;
    border: none;
    font-weight: 400;
    color: black;
    padding: auto;
    transition: all 2ms;
}

.close-btn:hover{
    color: #FCD34D;
    background-color: transparent;
}

.modal{
    display: block;
    font-family: "Verdana", "Geneva", sans-serif;
    border: solid;
    padding: 2rem;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 360px;
    height: 420px;
    margin: auto;
    box-shadow: 0px 0px 500px 75px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.rye-wrap .fa-star{
    width: 100%;
}

.rye-wrap i{
    font-size: 2rem;
    cursor: pointer;
    transition: color .4s ease;
}

.rye-wrap i.active{
    color: #F3BE11;
}

.ryexp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 240px; 
}

.ryexp-heading{
    margin-bottom: 1rem;
}

.card-heading{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

input{
    margin-top: 20px; 
    font-size: 1.1rem;
    border: 1.3px solid #212529;
    padding: 20px;
    width: 100%;
    border-radius: 3px;
}

.main-button{
    background: #FCD34D;
    font-family: "Verdana", "Geneva", sans-serif;
    border-radius: 3px;
    width: 100%;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 40px;
    border: none;
}

.dicount-banner{
    background-color: #FFF9E7;
    color: #F3BE11;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem;
}

#discount-message{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.order-done{
   background-color: #ECFDF5;
    color: #065F46;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem; 
}

#order-completion{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rye-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-appear{
    display: block;
}

.hidden{
    display: none;
}

